.backprofile__body {
    padding: 0px;
}

.background-image-backprofile {
    height: 100vh;
    background-image: url("../images/backprofile.jpg");
    background-position: center;
    background-size: cover;
}

.background-opacity-backprofile {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}

.backprofile__header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.backprofile__header-column {
    margin: 0px 20px;
    font-size: 28px;
}

.backprofile__header-column:last-child span {
    margin-left: 20px;
    font-size: 16px;
}

.backprofile__header-column:last-child span i {
    border: 1.5px solid white;
    border-radius: 50%;
    padding: 5px;
}

.backprofile__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 200px;
}

.backprofile__profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backprofile__profile-content img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
}

.backprofile__profile-name {
    font-size: 21px;
    margin-top: 15px;
    color: white;
}

.backprofile__nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    padding: 35px 0px;
}

.backprofile__nav-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 45px;
    color: white;
}

.backprofile__nav-icon i {
    font-size: 40px;
}

.backprofile__nav-title {
    margin-top: 15px;
    font-size: 14px;
}