.chat__header {
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    padding-bottom: 30px;
}

.chats-body {
    background-image: url("https://i.pinimg.com/474x/e5/39/a0/e539a00e8324eba1bac132dae05152d5.jpg");
}

.chats__status-bar {
    background-color: white;
}

.chat__write-container {
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.chat__icon-left {
    position: absolute;
    left: 10px;
}

.chat__icon-right {
    position: absolute;
    right: 10px;
}

@keyframes float {
    0%{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    }
    50%{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -60px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    }
    100%{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    }
}

.chat__write {
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 0px;
    padding: 20px 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.chat__write:focus {
    outline: none;
    width: 80%;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    transform: translateY(-60px);
    animation: float 3s linear infinite forwards;
}

.chat__icon {
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.chat__write:focus~ .chat__icon {
    opacity: 0;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}


.chat-screen .chat__messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
    padding-top: 25px;
}

.chat__messages .chat__timestamp {
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-weight: 700;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.message .message__content {
    width: 100%;
}

.incoming-message {
    align-self: flex-start;
}

.sent-message {
    align-self: flex-end;
}

/* @keyframes spin {
    from{
        transform: none;
    }
    to{
        transform: rotateY(1turn);
    }
} */

.incoming-message img {
    width: 40px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    /* animation: spin 1s linear forwards; */
}

.message .message__bubble {
    background-color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    padding: 10px 20px;
    border-radius: 40px;
    display: block;
    color: white;
}

.incoming-message .message__timestamp {
    margin-top: 45px;
    margin-left: 15px;
    font-size: 13px;
}

.sent-message .message__timestamp {
    margin-top: 20px;
    margin-right: 15px;
    font-size: 13px;
}

.message .message_author {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.chat__write-column .chat__write-icon i {
    margin: 0px 2px;
}

.incoming-message .message__bubble {
    border-bottom-left-radius: 0px;
    background-image: linear-gradient(to right, #bce334, #5acaff);
}

.sent-message .message__bubble {
    border-bottom-right-radius: 0px;
    background-image: linear-gradient(to right,#DD5E89,#F7BB97);
}

@keyframes incomingAnimation {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.incoming-message {
    animation: incomingAnimation 0.5s ease-out forwards;
}

@keyframes sentAnimation {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.sent-message {
    animation: sentAnimation 0.5s ease-out forwards;
}