.friends .friends__plus {
    padding: 15px 0px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    margin: 15px 0px;
}

.friends .friends__title {
    margin-bottom: 11px;
    font-size: 13px;
    opacity: 0.65;
}