.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar {
    width: 50px;
    border-radius: 37%;
}

.friend__avatar.g-avatar {
    width: 70px;
}

.friend__avatar.m-avatar {
    width: 60px;
}

.friend .friend__column {
    display: flex;
    align-items: center;
}

.friend .friend__avatar {
    margin-right: 15px;
}

.friend .friend__content {
    display: block;
}

.friend__content .friend__name {
    display: block;
    font-weight: 600;
    margin-bottom: 7px;
}

.friend__content .friend__bottom-text,
.friend__content .friend__status,
.friend .chat__timestamp {
    opacity: 0.6;
}

.friend__content .friend__bottom-text {
    font-size: 13px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
    font-size: 12px;
}

.friend .friend__now-listening {
    border: 1.2px solid rgb(88, 221, 88);
    font-size: 12.5px;
    padding: 10px 13px;
    border-radius: 20px;
}

.friend__now-listening span {
    opacity: 0.7;
}

.friend__now-listening i {
    font-size: 11px;
    margin-left: 2px;
    color: rgb(88, 221, 88);
}

.friends__list .friend {
    margin-bottom: 23px;
}