.settings .settings__sections-bottom,
.settings .settings__sections {
    border-top: 1px solid #f7f7f7;
    padding: 25px 0px;
}

.settings .settings__sections {
    margin-top: -25px;
}

.settings {
    height: 100%;
}

.settings__setting {
    display: flex;
}

.settings__setting .settings__icon {
    margin-right: 20px;
}

.settings__setting .settings__icon i {
    display: flex;
    font-size: 20px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.settings .settings__title {
    font-size: 22px;
}

.settings .settings__setting {
    margin-bottom: 30px;
    cursor: pointer;
}

.settings .settings__setting:last-child {
    margin-bottom: 0px;
}