.status-bar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #666666;
    background-color: white;
}

.status-bar .status-bar__clock {
    font-size: 14px;
}

.status-bar i {
    font-size: 12px;
}

.status-bar .status-bar__battery-level {
    margin-left: 6px;
    font-size: 14px;
}