@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,1000&display=swap');
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px 20px;
    color: #1A1A1A;
    font-family: 'Open Sans', sans-serif;
    height: 200000px;
}

a {
    color: inherit;
}